{
  "swagger": "2.0",
  "info": {
    "description": "Документация к API CRM Zelenoe. Основной URL http://crm.lets-code.ru/. API доступно по адресу: http://crm.lets-code.ru/api. Авторизация происходит по логину и пролю, защищённые методы работают при помощи заголовка \"Authorization: token_value\"",
    "version": "0.0.1",
    "title": "Zelenoe CRM",
    "termsOfService": "",
    "contact": {
      "email": "speed.live@mail.ru"
    },
    "license": {
      "name": "GNU Public License",
      "url": "http://opensource.org/licenses/gpl-license.php"
    }
  },
  "host": "crm.lets-code.ru",
  "basePath": "/api",
  "tags": [
    {
      "name": "user",
      "description": "Операции над пользователями"
    },
    {
      "name": "auth",
      "description": "Операции с авторизаций"
    },
    {
      "name": "group",
      "description": "Операции над группами пользователей"
    },
    {
      "name": "action",
      "description": "Операции над действиями пользователей"
    },
    {
      "name": "module",
      "description": "Операции над модулями системы"
    },
    {
      "name": "log",
      "description": "Операции над записями в логе"
    },
    {
      "name": "properties",
      "description": "Операции над свойствами"
    },
    {
      "name": "tasks",
      "description": "Операции над задачами"
    },
    {
      "name": "tasksGroup",
      "description": "Операции над группами задач"
    },
    {
      "name": "tasksProjects",
      "description": "Операции над проектами задач"
    },
    {
      "name": "tasksStatus",
      "description": "Операции над статусами задач"
    },
    {
      "name": "comments",
      "description": "Операции над комментариями к сущностям"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/log": {
      "post": {
        "tags": [
          "log"
        ],
        "summary": "Запись в лог",
        "description": "Создание новой записи в логе",
        "operationId": "createLog",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "login",
                "group",
                "description"
              ],
              "properties": {
                "login": {
                  "type": "string",
                  "example": "yazu"
                },
                "group": {
                  "type": "string",
                  "example": "redactors"
                },
                "description": {
                  "type": "string",
                  "example": "yazu"
                }
              }
            }
          }
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Лог успешно записан",
            "schema": {
              "$ref": "#/definitions/Log"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на добавление логов",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка записи в лог",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "get": {
        "tags": [
          "log"
        ],
        "summary": "Получение списка логов",
        "description": "Получение полного (запрос без параметров) или страничного списка логов (запрос хотябы с параметром count)",
        "operationId": "getLog",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Количество записей на странице в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Поле для сортировки (одно из полей бд)",
            "type": "string"
          },
          {
            "name": "order_type",
            "in": "query",
            "description": "Направление сортировки (asc/desc)",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Фильрация записей",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение списка логов",
            "schema": {
              "$ref": "#/definitions/Log"
            },
            "examples": {
              "Без постраничной навигации": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": [
                  {
                    "id": 16,
                    "module_id": 5,
                    "user_id": 4,
                    "user_ip": "188.244.161.201",
                    "log_type": "user",
                    "log_action": "user_addusers",
                    "created_at": "2017-08-17 03:30:05",
                    "updated_at": "2017-08-17 03:36:05",
                    "user": {
                      "id": 4,
                      "login": "admin",
                      "email": "speed.live@mail.ru",
                      "sort": 1,
                      "created_at": "2017-07-19 01:44:26",
                      "updated_at": "2017-07-28 00:59:56"
                    },
                    "module": {
                      "id": 5,
                      "code": "user",
                      "description": "User module",
                      "sort": 100,
                      "active": 1,
                      "created_at": "2017-07-31 07:54:04",
                      "updated_at": "2017-07-31 07:54:04"
                    },
                    "action": {
                      "code": "user_addusers",
                      "name": "Добавление пользователей",
                      "description": "Возможность добавлять новых пользователей"
                    }
                  },
                  {
                    "id": 21,
                    "module_id": 5,
                    "user_id": 4,
                    "user_ip": "188.244.161.201",
                    "log_type": "user",
                    "log_action": "user_addusers",
                    "created_at": "2017-08-18 00:44:43",
                    "updated_at": "2017-08-18 00:44:43",
                    "user": {
                      "id": 4,
                      "login": "admin",
                      "email": "speed.live@mail.ru",
                      "sort": 1,
                      "created_at": "2017-07-19 01:44:26",
                      "updated_at": "2017-07-28 00:59:56"
                    },
                    "module": {
                      "id": 5,
                      "code": "user",
                      "description": "User module",
                      "sort": 100,
                      "active": 1,
                      "created_at": "2017-07-31 07:54:04",
                      "updated_at": "2017-07-31 07:54:04"
                    },
                    "action": {
                      "code": "user_addusers",
                      "name": "Добавление пользователей",
                      "description": "Возможность добавлять новых пользователей"
                    }
                  }
                ]
              },
              "С постраничной навигацией": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "total": 2,
                  "per_page": "10",
                  "current_page": 1,
                  "last_page": 1,
                  "next_page_url": null,
                  "prev_page_url": null,
                  "from": 1,
                  "to": 2,
                  "data": [
                    {
                      "id": 16,
                      "module_id": 5,
                      "user_id": 4,
                      "user_ip": "188.244.161.201",
                      "log_type": "user",
                      "log_action": "user_addusers",
                      "created_at": "2017-08-17 03:30:05",
                      "updated_at": "2017-08-17 03:36:05",
                      "user": {
                        "id": 4,
                        "login": "admin",
                        "email": "speed.live@mail.ru",
                        "sort": 1,
                        "created_at": "2017-07-19 01:44:26",
                        "updated_at": "2017-07-28 00:59:56"
                      },
                      "module": {
                        "id": 5,
                        "code": "user",
                        "description": "User module",
                        "sort": 100,
                        "active": 1,
                        "created_at": "2017-07-31 07:54:04",
                        "updated_at": "2017-07-31 07:54:04"
                      },
                      "action": {
                        "code": "user_addusers",
                        "name": "Добавление пользователей",
                        "description": "Возможность добавлять новых пользователей"
                      }
                    },
                    {
                      "id": 21,
                      "module_id": 5,
                      "user_id": 4,
                      "user_ip": "188.244.161.201",
                      "log_type": "user",
                      "log_action": "user_addusers",
                      "created_at": "2017-08-18 00:44:43",
                      "updated_at": "2017-08-18 00:44:43",
                      "user": {
                        "id": 4,
                        "login": "admin",
                        "email": "speed.live@mail.ru",
                        "sort": 1,
                        "created_at": "2017-07-19 01:44:26",
                        "updated_at": "2017-07-28 00:59:56"
                      },
                      "module": {
                        "id": 5,
                        "code": "user",
                        "description": "User module",
                        "sort": 100,
                        "active": 1,
                        "created_at": "2017-07-31 07:54:04",
                        "updated_at": "2017-07-31 07:54:04"
                      },
                      "action": {
                        "code": "user_addusers",
                        "name": "Добавление пользователей",
                        "description": "Возможность добавлять новых пользователей"
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр логов",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "log"
        ],
        "summary": "Удаление записей из лога",
        "description": "Удаление из лога всех записей или за определённое время (если не передавать параметры, удаляет все записи из лога, если передавать то только за указанный период, можно передать только 1 параметр). Вернёт количество удалённых записей.",
        "operationId": "deleteLog",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "schema": {
              "type": "object",
              "required": [
                "from",
                "to"
              ],
              "properties": {
                "from": {
                  "type": "string",
                  "example": "2017-08-17 03:30:05"
                },
                "to": {
                  "type": "string",
                  "example": "2017-08-20 03:30:05"
                }
              }
            }
          }
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Записи успешно удалены",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление логов",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      }
    },
    "/log/{id}": {
      "delete": {
        "tags": [
          "log"
        ],
        "summary": "Удаление записи из лога",
        "description": "Удаление записи из лога по её ID",
        "operationId": "deleteLogById",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID записи в логе, которую нужно удалить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Записиь успешно удалёна",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление записей из лога",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Запись с таким ID не найдена",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/user": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Создание пользователя",
        "description": "Создание нового пользователя",
        "operationId": "createUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Создание пользователя",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно создался",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на создание пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка создания пользователя",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Изменение пользователя",
        "description": "Изменение парамеров существующего пользователя",
        "operationId": "putUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Изменение пользователя",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно изменён",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на изменение пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка создания пользователя",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Получение списка пользователей",
        "description": "Получение полного (запрос без параметров) или страничного списка пользователей (запрос хотябы с параметром count)",
        "operationId": "getUsers",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Количество записей на странице в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Поле для сортировки (одно из полей бд)",
            "type": "string"
          },
          {
            "name": "order_type",
            "in": "query",
            "description": "Направление сортировки (asc/desc)",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Массив с правилами фильтрации выборки",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешное получение списка пользователей",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "examples": {
              "Без постраничной навигации": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": [
                  {
                    "id": 1,
                    "login": "Yazu",
                    "email": "speed.live@mail.ru",
                    "sort": "100"
                  },
                  {
                    "id": 2,
                    "login": "Yazu",
                    "email": "speed.live@mail.ru",
                    "sort": "100"
                  }
                ]
              },
              "С постраничной навигацией": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "total": 3,
                  "per_page": 2,
                  "current_page": 1,
                  "last_page": 2,
                  "next_page_url": "http://crm.lets-code.ru/api/user?page=2",
                  "prev_page_url": "null",
                  "from": 1,
                  "to": 2,
                  "data": [
                    {
                      "id": 1,
                      "login": "Yazu",
                      "email": "speed.live@mail.ru",
                      "sort": "100"
                    },
                    {
                      "id": 2,
                      "login": "Yazu",
                      "email": "speed.live@mail.ru",
                      "sort": "100"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      }
    },
    "/user/{login}": {
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Удаление пользователя по его логину",
        "description": "Удаление пользователя по его логину",
        "operationId": "deleteUser",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "login",
            "in": "path",
            "description": "Логин пользователя, котого нужно удалить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно удалён",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Пользователь с таким логином не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/user/id/{id}": {
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Удаление пользователя по его ID",
        "description": "Удаление пользователя по его ID",
        "operationId": "deleteUserById",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID пользователя, котого нужно удалить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно удалён",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Пользователь с таким ID не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Получение пользователя по его ID",
        "description": "Получение пользователя по его ID",
        "operationId": "getUserById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID пользователя, котого нужно получить",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь найден",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": "true"
                },
                "status": {
                  "type": "integer",
                  "example": "200"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 3
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-07-27 06:40:41"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-07-27 06:41:02"
                    },
                    "login": {
                      "type": "string",
                      "example": "Yazu"
                    },
                    "email": {
                      "type": "string",
                      "example": "example@mail.ru"
                    },
                    "sort": {
                      "type": "integer",
                      "example": 100
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр других пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Пользователь с таким ID не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/user/email/{email}": {
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Удаление пользователя по его Email",
        "description": "Удаление пользователя по его Email",
        "operationId": "deleteUserByEmail",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Email пользователя, котого нужно удалить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно удалён",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Пользователь с таким email не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Получение пользователя по его Email",
        "description": "Получение пользователя по его Email",
        "operationId": "getUserByEmail",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "email",
            "in": "path",
            "description": "Email пользователя, котого нужно получить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь найден",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": "true"
                },
                "status": {
                  "type": "integer",
                  "example": "200"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 3
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-07-27 06:40:41"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-07-27 06:41:02"
                    },
                    "login": {
                      "type": "string",
                      "example": "Yazu"
                    },
                    "email": {
                      "type": "string",
                      "example": "example@mail.ru"
                    },
                    "sort": {
                      "type": "integer",
                      "example": 100
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр других пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Пользователь с таким email не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/user/{login}/group": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Группы пользователя",
        "description": "Получение всх групп, в которых состоит пользователь",
        "operationId": "userGroup",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "login",
            "required": true,
            "description": "Логин пользователя",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Группы успешно получены",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": "true"
                },
                "status": {
                  "type": "integer",
                  "example": "200"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 3
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2017-07-27 06:40:41"
                      },
                      "updated_at": {
                        "type": "string",
                        "example": "2017-07-27 06:41:02"
                      },
                      "name": {
                        "type": "string",
                        "example": "Редакторы"
                      },
                      "description": {
                        "type": "string",
                        "example": "Могут провидить редакцию материалов"
                      },
                      "sort": {
                        "type": "integer",
                        "example": 2
                      },
                      "code": {
                        "type": "string",
                        "example": "redactors"
                      },
                      "pivot": {
                        "type": "object",
                        "properties": {
                          "user_id": {
                            "type": "integer",
                            "example": 5
                          },
                          "group_id": {
                            "type": "integer",
                            "example": 3
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр групп",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      }
    },
    "/user/attachgroup": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Добавление пользователя к группе",
        "description": "Добавление пользователя к группе",
        "operationId": "attachUserToGroup",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "module_code",
                "action"
              ],
              "properties": {
                "module_code": {
                  "type": "string",
                  "example": "user"
                },
                "action": {
                  "type": "string",
                  "example": "user_addusers"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно добавлен в группу",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": "true"
                },
                "status": {
                  "type": "integer",
                  "example": "200"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на добавление пользователей в группы",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      }
    },
    "/user/detachgroup": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Удаление пользователя из группы",
        "description": "Удаление пользователя из группы",
        "operationId": "detachUserFromGroup",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "login",
                "group"
              ],
              "properties": {
                "login": {
                  "type": "string",
                  "example": "yazu"
                },
                "group": {
                  "type": "string",
                  "example": "redactors"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно удалён из группы",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": "true"
                },
                "status": {
                  "type": "integer",
                  "example": "200"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление пользователей из групп",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      }
    },
    "/user/{login}/can/{action}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Проверка доступа пользователя к действию",
        "description": "Проверка, может ли пользователь выполнять какое-либо действие",
        "operationId": "userCan",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "login",
            "required": true,
            "description": "Логин пользователя",
            "type": "string"
          },
          {
            "in": "path",
            "name": "action",
            "required": true,
            "description": "Действие",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешная проверка",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": "true"
                },
                "status": {
                  "type": "integer",
                  "example": "200"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на проверку действий",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      }
    },
    "/user/{login}/return": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Сброс пароля пользователя",
        "description": "Отправляет пользователю email на сброс пароля",
        "operationId": "userReturnPassword",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "login",
            "required": true,
            "description": "Логин пользователя",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешная отправка",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": "true"
                },
                "status": {
                  "type": "integer",
                  "example": "200"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "delete_old_request": {
                      "type": "boolean",
                      "example": 1
                    },
                    "token_save": {
                      "type": "boolean",
                      "example": 1
                    },
                    "send_mail": {
                      "type": "boolean",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/reset": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Установка нового пароля пользователя",
        "description": "Устанавливает переданный пароль как новый",
        "operationId": "userResetPassword",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string",
                  "example": "dawd1341e39unaf8b861to3e193eb1012"
                },
                "password": {
                  "type": "string",
                  "example": "qwerty"
                },
                "password_confirm": {
                  "type": "string",
                  "example": "qwerty"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешная смена пароля",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Пароли не совпадают/неверный токен",
            "schema": {
              "$ref": "#/definitions/400Response"
            }
          },
          "404": {
            "description": "Токен не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Авторизация пользователя",
        "description": "Авторизация пользователя в системе",
        "operationId": "login",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Авторизационные данные",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "404": {
            "description": "Пользователь с данным логином/email не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          },
          "500": {
            "description": "Ошибочный логин или пароль",
            "schema": {
              "$ref": "#/definitions/400Response"
            }
          }
        }
      }
    },
    "/login/refresh": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Обновление токена",
        "description": "Обновление токена",
        "operationId": "refreshToken",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "refresh_token",
            "required": true,
            "description": "Токен для обновления",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Токен успешно обновлён",
            "schema": {
              "$ref": "#/definitions/RegreshTokenResponse"
            }
          },
          "401": {
            "description": "Неверный refresh_token",
            "schema": {
              "$ref": "#/definitions/401Response"
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Выход текущего пользователя из системы",
        "description": "Позволяет разлогинить текущего пользователя",
        "operationId": "logoutUser",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/LogoutResponse"
            }
          }
        }
      }
    },
    "/signup": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Регистрация пользователя",
        "description": "Регистрация нового пользователя",
        "operationId": "signupUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Регистрация пользователя",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Пользователь успешно зарегистрирован",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "500": {
            "description": "Ошибка регистрации пользователя",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      }
    },
    "/group": {
      "get": {
        "tags": [
          "group"
        ],
        "summary": "Получение списка групп пользователей",
        "description": "Получение списка групп пользователей",
        "operationId": "getGroups",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Количество записей на странице в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Поле для сортировки (одно из полей бд)",
            "type": "string"
          },
          {
            "name": "order_type",
            "in": "query",
            "description": "Направление сортировки (asc/desc)",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Массив с правилами фильтрации выборки",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Список групп",
            "examples": {
              "Без постраничной навигации": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": [
                  {
                    "id": 3,
                    "created_at": "2017-07-27 06:40:41",
                    "updated_at": "2017-07-27 06:41:02",
                    "name": "Редакторы",
                    "description": "Могут провидить редакцию материалов",
                    "sort": 2,
                    "code": "redactors"
                  },
                  {
                    "id": 1,
                    "created_at": "2017-07-27 06:40:41",
                    "updated_at": "2017-07-27 06:41:02",
                    "name": "Администраторы",
                    "description": "Могут всё",
                    "sort": 1,
                    "code": "administrators"
                  }
                ]
              },
              "С постраничной навигацией": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "total": 3,
                  "per_page": 2,
                  "current_page": 1,
                  "last_page": 2,
                  "next_page_url": "http://crm.lets-code.ru/api/group?page=2",
                  "prev_page_url": "null",
                  "from": 1,
                  "to": 2,
                  "data": [
                    {
                      "id": 3,
                      "created_at": "2017-07-27 06:40:41",
                      "updated_at": "2017-07-27 06:41:02",
                      "name": "Редакторы",
                      "description": "Могут провидить редакцию материалов",
                      "sort": 2,
                      "code": "redactors"
                    },
                    {
                      "id": 1,
                      "created_at": "2017-07-27 06:40:41",
                      "updated_at": "2017-07-27 06:41:02",
                      "name": "Администраторы",
                      "description": "Могут всё",
                      "sort": 1,
                      "code": "administrators"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр групп пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "group"
        ],
        "summary": "Создание новой группы",
        "description": "Создание новой группы пользователей",
        "operationId": "createGroup",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Группа успешно создалась",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на создание групп",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка создания группы",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "group"
        ],
        "summary": "Изменение существующей группы",
        "description": "Изменение существующей группы пользователей",
        "operationId": "putGroup",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Group"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Группа успешно изменена",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на узменение групп",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка изменения группы",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "group"
        ],
        "summary": "Удаление группы",
        "description": "Удаление существующей группы",
        "operationId": "deleteGroup",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "administrators"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Группа успешно удалена",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление групп",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка удаления группы",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      }
    },
    "/group/{code}": {
      "get": {
        "tags": [
          "group"
        ],
        "summary": "Получение группы по коду",
        "description": "Получение группы пользователей по её коду",
        "operationId": "getGroup",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "Символьный код группы",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Группа пользователей",
            "examples": {
              "Без постраничной навигации": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "id": 1,
                  "created_at": "2017-07-27 06:40:41",
                  "updated_at": "2017-07-27 06:41:02",
                  "name": "Администраторы",
                  "description": "Могут всё",
                  "sort": 1,
                  "code": "administrators"
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр групп пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Группа с переданным кодом не найдена",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/action": {
      "get": {
        "tags": [
          "action"
        ],
        "summary": "Получение списка действий пользователей",
        "description": "Получение списка действий пользователей, которые уже занесены в БД",
        "operationId": "getActions",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Номер страницы в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Количество записей на странице в постраничной навигации",
            "type": "integer"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Поле для сортировки (одно из полей бд)",
            "type": "string"
          },
          {
            "name": "order_type",
            "in": "query",
            "description": "Направление сортировки (asc/desc)",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Массив с правилами фильтрации выборки",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Список групп",
            "examples": {
              "Без постраничной навигации": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": [
                  {
                    "id": 16,
                    "name": "module_activate_deactivate",
                    "group_id": 2,
                    "module_id": 1,
                    "sort": 1,
                    "description": "Активирование и деактивация модулей",
                    "created_at": "2017-07-28 04:23:42",
                    "updated_at": "2017-07-28 04:23:42"
                  },
                  {
                    "id": 19,
                    "name": "module_activate_deactivate",
                    "group_id": 3,
                    "module_id": 1,
                    "sort": 2,
                    "description": "Активирование и деактивация модулей",
                    "created_at": "2017-07-28 05:49:53",
                    "updated_at": "2017-07-28 05:49:53"
                  }
                ]
              },
              "С постраничной навигацией": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "total": 3,
                  "per_page": 2,
                  "current_page": 1,
                  "last_page": 2,
                  "next_page_url": "http://crm.lets-code.ru/api/group?page=2",
                  "prev_page_url": "null",
                  "from": 1,
                  "to": 2,
                  "data": [
                    {
                      "id": 16,
                      "name": "module_activate_deactivate",
                      "group_id": 2,
                      "module_id": 1,
                      "sort": 1,
                      "description": "Активирование и деактивация модулей",
                      "created_at": "2017-07-28 04:23:42",
                      "updated_at": "2017-07-28 04:23:42"
                    },
                    {
                      "id": 19,
                      "name": "module_activate_deactivate",
                      "group_id": 3,
                      "module_id": 1,
                      "sort": 2,
                      "description": "Активирование и деактивация модулей",
                      "created_at": "2017-07-28 05:49:53",
                      "updated_at": "2017-07-28 05:49:53"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр действий пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "action"
        ],
        "summary": "Добавление действия в БД",
        "description": "Добавление действия в БД, можно добавить только действие, которое определено в конфиге модуля (добавлят группе пользователей разрешение на выполнение действия)",
        "operationId": "createAction",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Действие успешно добавлено",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на добавление действий",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка добавления действия",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "action"
        ],
        "summary": "Изменение действия в БД",
        "description": "Изменение действия в БД, можно изменять только действие, которое определено в конфиге модуля и уже добавлено в БД",
        "operationId": "putAction",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Действие успешно изменено",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на изменение действий",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка изменения действия",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "action"
        ],
        "summary": "Удаление действия из БД",
        "description": "Удаление существующего действия из БД (снимает с группы пользователей разрешение на выполнение действия)",
        "operationId": "deleteAction",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "module_activate_deactivate"
                },
                "group_code": {
                  "type": "string",
                  "example": "administrators"
                },
                "module_code": {
                  "type": "string",
                  "example": "module"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Действие успешно удалено",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление групп",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка удаления группы",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      }
    },
    "/action/{id}": {
      "get": {
        "tags": [
          "action"
        ],
        "summary": "Получение действия по ID",
        "description": "Получение действия пользователей по его ID",
        "operationId": "getActionById",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "ID действия в БД",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Действие успешно получено",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "status": {
                  "type": "integer",
                  "example": 200
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-07-27 06:40:41"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-07-27 06:41:02"
                    },
                    "name": {
                      "type": "string",
                      "example": "Администраторы"
                    },
                    "description": {
                      "type": "string",
                      "example": "Могут всё"
                    },
                    "sort": {
                      "type": "integer",
                      "example": 1
                    },
                    "code": {
                      "type": "string",
                      "example": "administrators"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр действий пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Действие с переданным id не найдено",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/action/{code}/module/{module_code}": {
      "get": {
        "tags": [
          "action"
        ],
        "summary": "Получение действия",
        "description": "Получение действия пользователей по его коду и коду модуля",
        "operationId": "getActionByCode",
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "code",
            "required": true,
            "description": "Символьный код действия",
            "type": "string"
          },
          {
            "in": "path",
            "name": "module_code",
            "required": true,
            "description": "Символьный код модуля",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Действие успешно получено",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "status": {
                  "type": "integer",
                  "example": 200
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "messages": {
                      "type": "string",
                      "example": ""
                    },
                    "errors": {
                      "type": "string",
                      "example": ""
                    }
                  }
                },
                "request": {
                  "type": "object",
                  "example": {}
                },
                "response": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2017-07-27 06:40:41"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2017-07-27 06:41:02"
                    },
                    "name": {
                      "type": "string",
                      "example": "Администраторы"
                    },
                    "description": {
                      "type": "string",
                      "example": "Могут всё"
                    },
                    "sort": {
                      "type": "integer",
                      "example": 1
                    },
                    "code": {
                      "type": "string",
                      "example": "administrators"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр действий пользователей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Действие с переданным id не найдено",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/module": {
      "get": {
        "tags": [
          "module"
        ],
        "summary": "Получение списка модулей",
        "description": "Получение списка модулей, которые уже занесены в БД",
        "operationId": "getModules",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Список модулей",
            "examples": {
              "": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": [
                  {
                    "id": 1,
                    "code": "module",
                    "description": "General module",
                    "sort": 1,
                    "active": 1,
                    "created_at": "2017-07-03 07:00:39",
                    "updated_at": "2017-07-28 01:49:08",
                    "user_access": true
                  },
                  {
                    "id": 5,
                    "code": "user",
                    "description": "User module",
                    "sort": 100,
                    "active": 1,
                    "created_at": "2017-07-31 07:54:04",
                    "updated_at": "2017-07-31 07:54:04",
                    "user_access": true
                  }
                ]
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр списка модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "module"
        ],
        "summary": "Добавление модуля",
        "description": "Добавление модуля в БД, для корректной работы модуля, обязательно (осуществляется автоматически при создании модуля и прописывания его в конфигах)",
        "operationId": "createModule",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Module"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль успешно добавлен",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на добавление модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка добавления модуля",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "module"
        ],
        "summary": "Обновление модуля",
        "description": "Обновление модуля в БД",
        "operationId": "putModule",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Module"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль успешно обновлён",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на обновление модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка обновления модуля",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      }
    },
    "/module/{code}": {
      "delete": {
        "tags": [
          "module"
        ],
        "summary": "Удаление модуля по коду",
        "description": "Удаление модуля из БД по символьному коду",
        "operationId": "deleteModuleByCode",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Код модуля, который нужно удалить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль успешно удалён",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на удаление модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Модуль с таким кодом не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "get": {
        "tags": [
          "module"
        ],
        "summary": "Получение модуля по его коду",
        "description": "Получение модуля по его символьному коду",
        "operationId": "getModuleByCode",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Код кодуля, который нужно получить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль найден",
            "examples": {
              "": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "id": 5,
                  "created_at": "2017-07-31 07:54:04",
                  "updated_at": "2017-07-31 07:54:04",
                  "code": "user",
                  "description": "User module",
                  "sort": 100,
                  "active": 1
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Модуль с таким кодом не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/module/{code}/config": {
      "get": {
        "tags": [
          "module"
        ],
        "summary": "Получение конфигов модуля по его коду",
        "description": "Получение конфигов модуля по его символьному коду",
        "operationId": "getModuleConfigByCode",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Код кодуля, конфиг которого нужно получить",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль найден",
            "examples": {
              "": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "module_name": "user",
                  "description": "User module",
                  "properties": [],
                  "dependencies": [],
                  "actions": {
                    "user_access": {
                      "code": "user_access",
                      "name": "Доступ к модулю",
                      "description": ""
                    },
                    "user_addusers": {
                      "code": "user_addusers",
                      "name": "Добавление пользователей",
                      "description": "Возможность добавлять новых пользователей"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр конфигов модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Модуль с таким кодом не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/module/{code}/actions": {
      "get": {
        "tags": [
          "module"
        ],
        "summary": "Получение действий модуля по его коду",
        "description": "Получение действий модуля по его символьному коду",
        "operationId": "getModuleActionsByCode",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Код кодуля, действия которого нужно получить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль найден",
            "examples": {
              "": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "user_access": {
                    "code": "user_access",
                    "name": "Доступ к модулю",
                    "description": ""
                  },
                  "user_addusers": {
                    "code": "user_addusers",
                    "name": "Добавление пользователей",
                    "description": "Возможность добавлять новых пользователей"
                  },
                  "user_removeusers": {
                    "code": "user_removeusers",
                    "name": "Удаление пользователей",
                    "description": "Возможность удалять пользователей"
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр действий модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Модуль с таким кодом не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/module/{code}/props": {
      "get": {
        "tags": [
          "module"
        ],
        "summary": "Получение значений свойства модуля",
        "description": "Получение свойств модуля по его символьному коду",
        "operationId": "getModulePropsByCode",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Код кодуля, свойства которого нужно получить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль найден",
            "examples": {
              "": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": {
                  "testinput": {
                    "name": "Тестовый инпут",
                    "code": "testinput",
                    "placeholder": "Тестовый инпут",
                    "type": "text",
                    "multiply": false,
                    "default_value": "null",
                    "values": [],
                    "value": {
                      "id": 4,
                      "created_at": "2017-07-04 01:05:14",
                      "updated_at": "2017-07-04 01:27:02",
                      "module_id": 1,
                      "code": "testinput",
                      "value_code": "false",
                      "value": "22"
                    }
                  },
                  "checkbox1": {
                    "name": "Тестовый чекбокс",
                    "code": "checkbox1",
                    "placeholder": "Тестовый чекбокс",
                    "type": "checkbox",
                    "multiply": false,
                    "default_value": "null",
                    "values": {
                      "value1": "значение 1"
                    },
                    "value": null
                  }
                }
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр свойств модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Модуль с таким кодом не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "post": {
        "tags": [
          "module"
        ],
        "summary": "Добавление значения свойства модуля",
        "description": "Добавление значения свойства модуля в БД",
        "operationId": "createModuleProps",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModuleProp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Значение свойства успешно добавлено",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на добавление значений свойств модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка добавления значений свойств модулей",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "module"
        ],
        "summary": "Обновление значения свойства модуля",
        "description": "Обновление значения свойства модуля в БД",
        "operationId": "putModuleProps",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModuleProp"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Значение свойства успешно обновленно",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на обновление значений свойств модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка обновления значений свойств модулей",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      }
    },
    "/module/{code}/props/{prop_code}": {
      "get": {
        "tags": [
          "module"
        ],
        "summary": "Получение значения свойства модуля",
        "description": "Получение значение свойства модуля по его символьному коду (в response массив потому что свойство может быть множественным)",
        "operationId": "getModulePropsValueByCode",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Код модуля, значение свойства которого нужно получить",
            "required": true,
            "type": "string"
          },
          {
            "name": "prop_code",
            "in": "path",
            "description": "Код свойства, значение которого нужно получить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Модуль найден",
            "examples": {
              "": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": [
                  {
                    "id": 4,
                    "created_at": "2017-07-04 01:05:14",
                    "updated_at": "2017-07-04 01:27:02",
                    "module_id": 1,
                    "code": "testinput",
                    "value_code": "false",
                    "value": "22"
                  }
                ]
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр значений свойств модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Модуль с таким кодом не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "module"
        ],
        "summary": "Удаление значения свойства модуля",
        "description": "Удаление значение свойства модуля по его символьному коду",
        "operationId": "deleteModulePropsValueByCode",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "description": "Код модуля, значение свойства которого нужно удалить",
            "required": true,
            "type": "string"
          },
          {
            "name": "prop_code",
            "in": "path",
            "description": "Код свойства, значение которого нужно удалить",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Значение свойства удалено",
            "examples": {
              "": {
                "success": "true",
                "status": "200",
                "errors": {
                  "messages": "",
                  "errors": ""
                },
                "request": {},
                "response": 1
              }
            }
          },
          "403": {
            "description": "У пользователя нет прав на просмотр значений свойств модулей",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "404": {
            "description": "Модуль с таким кодом не найден",
            "schema": {
              "$ref": "#/definitions/404Response"
            }
          }
        }
      }
    },
    "/properties": {
      "post": {
        "tags": [
          "properties"
        ],
        "summary": "Добавление свойства",
        "description": "Добавление нового свойства сущности",
        "operationId": "createProperty",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Property"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Свойство успешно добавлено",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на добавление свйоств",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка добавления свойства",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      },
      "put": {
        "tags": [
          "properties"
        ],
        "summary": "Изменние свойства",
        "description": "Добавление существующего свойства сущности",
        "operationId": "putProperty",
        "produces": [
          "application/json"
        ],
        "security": [
          {
            "crm_auth": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Тело запроса",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putProperty"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Свойство успешно изменено",
            "schema": {
              "$ref": "#/definitions/TrueResponse"
            }
          },
          "400": {
            "description": "Не верный формат одного из полей (отслеживается по полю 'errors')",
            "schema": {
              "$ref": "#/definitions/ValidatorResponse"
            }
          },
          "403": {
            "description": "У пользователя нет прав на изменение свйоств",
            "schema": {
              "$ref": "#/definitions/403Response"
            }
          },
          "500": {
            "description": "Ошибка изменения свойства",
            "schema": {
              "$ref": "#/definitions/500Response"
            }
          }
        }
      }
    },
[...]
